@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Stara", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: "Stara";
  src: url("/fonts/Stara.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Glancyr";
  src: url("/fonts/Glancyr.otf");
  font-weight: normal;
  font-style: normal;
}